language: node_js
node_js:
  - "4.0"
  - "4.1"
  - "4.2"
  - "4.3"
  - "4.4"
  - "4.5"
  - "4.6"
  - "5.11.0"
  - "6.0"
  - "6.1"
  - "6.2"
  - "6.3"
  - "6.4"
  - "6.5"
  - "6.6"
  - "6.7"
  - "6.8"
install:
  - npm install --all
script:
  - npm run lint
  - npm run test-cov
